body {
    font-family: Verdana;
    background-color:#4a4b4b;
    color: blanchedalmond;
    padding: 20px;
    line-height: 1.6;
}

h1 {
    color: aliceblue;
    font-size: 32px;
    margin-bottom: 30px;
    border-bottom: 3px solid aliceblue;
}

h2 {
    color: aliceblue;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.caixa {
    width: 530px;
    background-color: #4a4b4b;
    padding: 30px;
    text-align: center;
    border: 2px solid aliceblue;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.caixa:hover {
    background-color: aliceblue;
    color: #4a4b4b;
    transform: scale(0.9);
    box-shadow: 0 8px 16px rgba(140, 201, 228, 0.5);
}

.btn-download {
    background-color: #4caf50;
    color: aliceblue;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-download:hover {
    background-color: green;
    transform: scale(0.9);
}

.btn-download:active {
    background-color: red;
    transform: scale(0.9);
}

/* focus */

input {
    /* coloque a largura máxima do elemento */
    max-width: 400px;
    padding: 12px;
    border: 2px solid #3a3a38;
    border-radius: 5px;
    background-color: #4a4b4b;
    color: aliceblue;
    font-size: 16px;
}

input:focus {
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    outline: none;
}
